<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My first Blog</title>
</head>
<body>
    <h1>Djangogirls Blog</h1>

    <div>
        <p>published: 04.06.2018 12:14</p>
        <h2>My first post</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi aperiam architecto aspernatur atque autem culpa cum cupiditate, delectus dolores ducimus eum ex facere incidunt ipsam minus molestiae nihil numquam odio officia porro quae, quam quia quisquam reiciendis rem repellat rerum sapiente sed sequi similique sunt tenetur ut velit voluptatem.</p>
    </div>

    <div>
        <p>published: 04.06.2018 12:15</p>
        <h2>My first post</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur earum illo incidunt officiis possimus repudiandae, rerum sit. A, assumenda deleniti eius, in incidunt, iusto modi quod reiciendis rem sequi soluta.</p>
    </div>
</body>
</html>